.user-info {
    margin-left: auto;
    margin-right: 20px;
}

body {
    padding-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40 ;
}

.gestiona {
    background-image: url("../img/video-games.jpg");
    height: 400px;
    color:black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.note {
    background-color: rgba(126, 192, 123, 0.7);
}

.review-note {
    background-color: rgba(26, 206, 238, 0.7);
}

.forget-note {
    background-color: rgba(161, 108, 83, 0.7);
}

.reviews {
    background-image: url("../img/review-column.png");
    color: black;
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forget {
    background-image: url("../img/forget.jpg");
    color: black;
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage {
    margin-bottom: 50px;
}

.homepage p {
    font-size: 20px;
    line-height: 30px;
}


.add-button {
    position: fixed;
    bottom: 80px;
    right: 50px;
}

#review-form {
    position: absolute !important;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#pendent-form{
    position: absolute !important;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.tooltip {
    max-width: 300px;
}

.tooltip-inner {
    font-size: 16px;
    padding: 5px;
}