{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/base.css" %}"> 
    <link rel="stylesheet" href="{% static "css/node.css" %}"> 
    {% endblock %}
    <link rel="shortcut icon" href="{% static "img/icon.svg" %}" />
    <title>{% block title %}Track your videogames{% endblock %}</title>
</head>

<body>

    <div id="header">
        {% block header %}
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/trackVideogames">
                <img class="navbar-brand" src="{% static "img/icon.svg" %}" width="40" alt=""> Track your Videogames
            </a>
            <div class="user-info">
                {% if user.username %}
                <div class="display-5 text-white">
                    <i class="fa fa-user"></i> {{ user.username }}
                </div>
                {% endif %}
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars text-white"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/trackVideogames/"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trackVideogames:pendent-vg' %}"><i class="fa fa-clock"></i> Videojocs pendents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trackVideogames:completed-vg' %}"><i class="fa fa-check-circle"></i> Videojocs acabats</a>
                    </li>
                    {% if user.username %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}?next=/trackVideogames"><i class="fa fa-sign-out-alt"></i> Tancar sessió</a>
                    </li>
                    {% else %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}?next={{request.path}}"><i class="fa fa-sign-in-alt"></i> Iniciar sessió</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}?next={{request.path}}"><i class="fa fa-user-plus "></i> Registrar-se</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %}
    </div>

    <div id="content" class="w3-container">
        {% block content %} {% if error_message %}
        <p>
            <strong>{{ error_message }}</strong>
        </p>{% endif %} {% endblock %}
    </div>
    <div id="footer" class="footer">
        {% block footer %}
        <div class="container">
            <p class="text-white text-center">
                Pàgina creada per Guillem Orellana Trullols. 
                Veure <a href="https://github.com/Guillem96/TrackVideoGames">Github</a> <i class="fab fa-github-alt"></i>
            </p>
        </div>
        {% endblock %}
    </div>
</body>

{% block scripts %}
    <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% endblock %}

</html>